@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
.agbalumo-regular {
  /*Fonte TITULO*/
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20pt;
}

.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: x-small;
}
.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 200;
}
.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-size: 3em;
  font-weight: bold;
}
/*-------------------------------------------------------*/

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.principal {
  display: flex;
  width: 100vw;
  height: 100vh; /*unidade vh (Viewport Height) -- olham para a "janela" do navegador e não para o conteúdo.*/
}

.direita {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #00174a;
  width: 60vw;
  color: #d4af37;
}
.t2 {
  margin-top: 30px;
  font-weight: 600;
  text-align: center;
}
.subt2 {
  color: #ebe5d2;
  margin-top: 10%;
  font-family: "Manrope";
  font-weight: 200;
}
.t3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope";
  font-size: small;
}
.c2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
}
.c2 button {
  outline: none;
  padding: 20px 0;
  width: 90%;
  background-color: #d4af37;
  border: none;
  color: #211b08;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5%;
  font-family: "Manrope";
  font-weight: bold;
}
.c2 button:hover {
  background-color: #a48b3b;
}
.formulario input {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #586793;
  color: #dad4c4;
  font-size: larger;
}

.formulario {
  width: 90%;
  margin-bottom: 40px;
}
.formulario input::placeholder {
color: #586793;
}

.esquerda {
  width: 70vw;
  background-color: brown;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 10px;
  background-position: center;
}

.titulo {
  color: #d4af37;
}

.titulo h1 {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 250px;
}

.descrição {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.d1 {
  color: #d4af37;
}
.d2 {
  font-size: 100%;
  width: 60%;
  color: #dad4c4;
}
.d3 {
  font-size: 80%;
  width: 70%;
  color: #dad4c4;
  font-family: "Manrope";
}

.agbalumo-regular {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 36pt;
}

.login {
  margin-top: 20px;
}
.login a {
  text-decoration: none;
  color: #ffefcc;
  padding: 7px 7px;
}
.nome {
  margin-bottom: 10%;
}
.email {
  margin-bottom: 10%;
}
.senha {
  margin-bottom: 10%;
}
