body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-------------------------------------------------------*/
.agbalumo-regular {
  /*Fonte TITULO*/
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 10pt;
}

.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: x-small;
}
.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 200;
}
.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-size: 3em;
  font-weight: bold;
}
/*================================================================*/
.cabeçalho {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #00174a;
  gap: 30px;
  padding: 13px 50px;
}

.cabeçalho h1 {
  margin: 0;
}
.titulo {
  color: #ffe088; /*cor definida para cabeçalho na pagina inicial*/
}
.topicos {
  display: flex;
  gap: 30px;
  font-weight: 200;
  font-family: "Manrope";
}
.topicos a {
  text-decoration: none;
  color: #ffefcc;
  padding: 8px 16px;
}
.topicos a.ativo {
  color: #af8d11;
  border-bottom: 3px solid #af8d11;
  padding-bottom: 5px;
}

.usuario {
  background-color: #e9c349;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  margin-left: 45%;
}
/* INICIO DO CORPO*/
.corpo1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  background-color: #f2f1f0;
}
.titulo-corpo1 {
  display: flex;
  font-family: "Manrope";
  height: 20%;
  margin-left: 2%;
  align-items: flex-end;
  color: #856a0a;
  font-size: small;
  font-weight: bold;
}
.subtitulo-corpo1 {
  display: flex;
  height: 50%;
  width: 50%;
  flex-direction: row;
  margin-left: 2%;
  align-items: center;
  color: #00174a;
  font-size: 4em;
  font-weight: bold;
  font-family: "Noto Serif";
}

.texto-corpo1 {
  font-family: "Manrope";
  margin-left: 2%;
  height: 30%;
  width: 40%;
  color: rgb(93, 88, 88);
}
/*=============CORPO2=================*/
.corpo2 {
  background-color: #f2f1f0;
  height: 220vh;
}
.foto-fileira1 {
  display: flex;
  justify-content: space-around;
  height: 22%;
}
.foto {
  /*DEFINIÇÃO DO TAMANHO DA IMAGEM DO JABUTI*/
  position: relative;
  width: 30%;
  height: 100%;
}
.foto img {
  width: 100%; /* Ocupa toda a largura do pai */
  height: 100%;
  box-shadow: inset black 0px 50px 100px;
}

.texto-foto {
  position: absolute;
  top: 75%; /* Move o topo para o meio vertical do pai */
  left: 6%;
  width: 30%;
  height: 20%;
}
.classe-foto {
  display: flex;
  background-color: #e9c349;
  color: #7b6309;
  font-family: "Manrope";
  font-size: medium;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 60%;
  height: 30%;
  border-radius: 10px;
}
.epecie-foto {
  display: flex;
  color: #ffe088;
  font-family: "Noto Serif";
  font-size: 2em;
  font-weight: bold;
}

.baixo-foto {
  display: flex;
  background-color: #ffffff;
  height: 40%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Manrope";
}
.descricao-foto {
  width: 90%;
  height: 40%;
  color: rgb(93, 88, 88);
}
.link-foto {
  display: flex;
  justify-content: flex-start;
  width: 90%;
}
.link-foto a {
  text-decoration: none;
  color: #af8d11;
  font-weight: bold;
}

.classe-foto3 {
  display: flex;
  background-color: #e9c349;
  color: #7b6309;
  font-family: "Manrope";
  font-size: medium;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 75%;
  height: 30%;
  border-radius: 10px;
}
.epecie-foto3 {
  display: flex;
  color: #ffe088;
  font-family: "Noto Serif";
  font-size: 2em;
  font-weight: bold;
  width: 300px;
}

/*==============================================*/

.foto-fileira2 {
  display: flex;
  justify-content: space-around;
  height: 22%;
  margin-top: 13%;
}

.foto-fileira3 {
  display: flex;
  justify-content: flex-start;
  height: 22%;
  margin-top: 13%;
  margin-left: 2%;
}

.classe-foto6 {
   display: flex;
  background-color: #e9c349;
  color: #7b6309;
  font-family: "Manrope";
  font-size: medium;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 90%;
  height: 30%;
  border-radius: 10px;
}

.classe-foto7 {
  display: flex;
  background-color: #e9c349;
  color: #7b6309;
  font-family: "Manrope";
  font-size: medium;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 80%;
  height: 30%;
  border-radius: 10px;
}

.epecie-foto7 {
   display: flex;
  color: #ffe088;
  font-family: "Noto Serif";
  font-size: 2em;
  font-weight: bold;
  width: 400px;
}

/*============= CORPO 3 =============*/
.corpo3 {
  display: flex;
  background-color:#f2f1f0;
  justify-content: center;
  height: 70vh;
  font-family: 'Manrope';
}
.caixa-corpo3 {
  display: flex;
  align-items: center;
  background-color:#f9f9f9 ;
  width: 70%;
  height: 80%;
  border: 3px solid #c89c18;
  margin-top: 3%;
}

.descricao-corpo3{
  display: flex;
  width: 60%;
  margin-left: 2%;
  font-size: 1.2em;
  color: #00174a;
  flex-direction: column;
  gap: 80px;
}
.descricao-corpo3 span:nth-child(2) {
  color: #7b6309;
  font-weight: bold;
}
.foto-corpo3 {
  display: flex;
  align-items: center;
  justify-content: center;
   width: 35%;
  height: 90%;
  border: 3px solid #c89c18;
}
.foto-corpo3 img{
  display: flex;
  height: 90%;
  width: 85%;
}

/*============== CORPO 4 ===============*/

.corpo4 {
  display: flex;
  background-color: #00174A;
  border-top: 3px solid #735c00;
  height: 30vh;
  align-items: center;
 justify-content: space-around;
}
.referencia1 {
  display: flex;
  width: 25%;
  flex-direction: column;
  gap: 10px;
}

.titulo-referencia1 {
  font-family: 'Agbalumo';
  color: #E9C349;
  font-size: 1.4em;
}
.descricao-referencia1 {  
  font-family: 'Manrope';
  color: #bbb9b9;
}

.referencia2 {
  display: flex;
  width: 25%;
  height: 70%;
  flex-direction: column;
  gap: 15px;
}
.titulo-referencia2 {
  font-family: 'Noto Serif';
  color: #ffe088;
  font-size: 1.4em;
}

.topicos-refencia2 {
 
  font-family: 'Manrope';
 flex-direction: column;
  width: 30%;
  height: 100%;
}
.topicos-refencia2 a{
  text-decoration: none;
  color:#bbb9b9;
  padding: 8px 16px;
}


