body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabeçalho {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #00174a;
  gap: 30px;
  padding: 13px 50px;
}

.cabeçalho h1 {
  margin: 0;
}
.titulo {
  color: #ffe088;
}
.topicos {
  display: flex;
  gap: 30px;
  font-weight: 200;
}
.topicos a {
  text-decoration: none;
  color: #ffefcc;
  padding: 8px 16px;
}

.topicos a.ativo {
  color: #af8d11;
  border-bottom: 3px solid #af8d11;
  padding-bottom: 5px;
}

.usuario {
  background-color: #e9c349;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  margin-left: 45%;
}

/*          fontes escolhidas                 */
.agbalumo-regular {
  /*Fonte TITULO*/
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20pt;
}

.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: x-small;
}
.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 200;
}
.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-size: 3em;
  font-weight: bold;
}

/*=======================================================*/

.corpo1 {
  height: 100vh;
  background-color: #f2f1f0;
}
.titulo-corpo1 {
  display: flex;
  height: 17%;
  margin-left: 3%;
  align-items: flex-end;
  font-family: "Noto Serif";
  font-weight: bold;
  font-size: 4em;
  color: #00174a;
}

.descricao {
  font-family: "Manrope";
  margin-left: 3%;
  width: 40%;
  height: 13%;
  color: rgb(93, 88, 88);
}
.caixa-grande {
  display: flex;
  height: 60%;
  width: 30%;
  gap: 5%;
  margin-left: 3%;
  flex-direction: column;
}
.caixa1 {
  display: flex;
  background-color: #fffefb;
  width: 100%;
  flex-direction: column;
  height: 90%;

  align-items: center;
  font-size: small;
  border: 3px solid #cca730;
  font-family: "Manrope";
  font-size: medium;
}
.titulo-caixa1 {
  display: flex;
  height: 25%;
  width: 87%;
  align-items: center;
  font-weight: bold;
  color: #927411;
}
.info-caixa1 {
  display: flex;
  flex-direction: column;
  width: 87%;
  align-items: start;
  font-weight: 300;
  font-size: 13px;
  color: rgb(93, 88, 88);
  gap: 10px;
}

.info-caixa1 input {
  height: 35px;
  width: 100%;
  background: transparent;
  border: none;
  border: 1px solid #927411;
  border-bottom: 2px solid #927411;
  color: #00174a;
  font-size: medium;
  font-family: "Manrope";
  font-weight: 400;
}

.botao-caixa1 {
  display: flex;
  height: 35%;
  width: 87%;
  align-items: center;
  justify-content: center;
}

.botao-caixa1 button {
  height: 55%;
  width: 100%;
  background-color: #00174a;
  color: #f2f1f0;
  font-family: "Manrope";
  font-weight: 300;
  font-size: medium;
}

.caixa-pequena {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 10%;
  font-family: "Manrope";
  font-size: 13px;
  height: 100px;
}

.esquerda-caixa-pequena {
  display: flex;
  background-color: #eacd6d;
  color: #68530c;
  height: 100%;
  width: 58%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 3px;
  gap: 5px;
}
.esquerda-caixa-pequena span {
  display: flex;
  height: 40%;
  align-items: flex-end;
}

.esquerda-caixa-pequena div {
    display: flex;
    font-weight: bold;
    font-size: 2em;
}
.direita-caixa-pequena {
  display: flex;
  background-color: #052f8a;
  color: #e1e0ff;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
  border-radius: 3px;
  flex-direction: column;
  gap: 10px;
}

.direita-caixa-pequena span {
  display: flex;
  height: 40%;
  align-items: flex-end;
}
.direita-caixa-pequena select {
    background-color: #182b54;
    color:#e1e0ff ;
    
}
.juncao {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.caixa2 {
  display: flex;
  flex-direction: column;
  margin-right: 3%;
  background-color: #fffefb;
  height: 60%;
  width: 60%;
  box-shadow: 2px 2px 10px rgb(71, 68, 68);
}
.titulo-caixa2 {
  display: flex;
  height: 10%;
  width: 25%;
  justify-content: center;
  align-items: flex-end;
  font-family: "Manrope";
  font-size: 14px;
  font-weight: bold;
  color: #927411;
}

.subtitulo-caixa2 {
  display: flex;
  height: 10%;
  width: 44%;
  justify-content: center;
  align-items: flex-end;
  font-family: "Noto Serif";
  font-size: 2em;
  font-weight: bold;
  color: #00174a;
}

.grafico {
  display: flex;
  height: 78%;
  width: 95%;
  justify-content: center;
}

.corpo2 {
  display: flex;
  background-color: #f2f1f0;
  align-items: flex-start;
  justify-content: space-between;
  height: 60vh;
}
.img-corpo2 {
  position: relative;
  display: flex;
  width: 40%;
  height: auto;
  margin-right: 3%;
  margin-top: 1%;
}
.img-corpo2 img {
  width: 100%; /* Ocupa toda a largura do pai */
  height: auto; /* Mantém a proporção original */
}

.txt {
  position: absolute;
  top: 15%; /* Move o topo para o meio vertical do pai */
  left: 6%;
  font-family: 'Noto Serif';
}

.texto-corpo2 {
    display: flex;
    width: 70%;
    font-size: large;
    font-style: italic;
}

.link-corpo2 a {
   text-decoration: none;
   color: #cca730;
   border-bottom: 1px solid #927411;
}

.caixa3 {
  display: flex;
  background-color: #ebd8b9;
  height: 80%;
  width: 50%;
  margin-left: 3%;
  flex-direction: column;
}
.titulo-corpo2 {
  display: flex;
  height: 20%;
  width: 90%;
  font-family: "Manrope";
  font-weight: bold;
  color: #68530c;
  font-size: 15px;
  justify-content: space-between;
  flex-direction: row;
  gap: 40%;
  margin-top: 3%;
 
}
.titulo-corpo2 span {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.titulo-corpo2 button {
    background-color: #cca730;
    color: #68530c;
    border: none;
    height: 70%;
    width: 60%;
    justify-content: end;
    font-weight: bold;
}

.informacao-corpo2 {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
    scrollbar-color: #917400 #f5e4b4;
}
.informacao-corpo2 div {
  padding-left: 5%; 
  width: 95%;
  align-items: center;
  font-family: "Manrope";
}
.informacao-corpo2::-webkit-scrollbar {
    width: 8px;
}

.informacao-corpo2::-webkit-scrollbar-track {
    background: #FFE088; 
}

.informacao-corpo2::-webkit-scrollbar-thumb {
    background-color: #917400;
    border-radius: 10px;
}

.corpo3 {
  display: flex;
  background-color: #00174a;
  border-top: 3px solid #735c00;
  height: 30vh;
  align-items: center;
  justify-content: space-between;
}

.esquerda {
  display: flex;
  width: 30%;
  flex-direction: column;
  margin-left: 7%;
}
.titulo-corpo3 {
  display: flex;
  color: #ffe088;
  font-family: "Agbalumo";
  font-size: 1.4em;
  height: 60px;
  width: 70%;
}
.descricao-corpo3 {
  display: flex;
  color: #e1e0ff;
  font-family: "Manrope";
  font-size: small;
  height: 60px;
  width: 100%;
}
.direita {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 20%;
  margin-right: 7%;
  font-family: "Manrope";
}

.navegacao {
  color: #ffe088;
  font-size: 1.4em;
}
.links-corpo3 {
  flex-direction: column;
}
.links-corpo3 a {
  text-decoration: none;
  color: #e1e0ff;
}
