body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-------------------------------------------------------*/
.agbalumo-regular {
  /*Fonte TITULO*/
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 10pt;
}

.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: x-small;
}
.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 200;
}
.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-size: 3em;
  font-weight: bold;
}
/*================================================================*/
.cabeçalho {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #00174a;
  gap: 30px;
  padding: 13px 50px;
}

.cabeçalho h1 {
  margin: 0;
}
.titulo {
  color: #ffe088; /*cor definida para cabeçalho na pagina inicial*/
}
.topicos {
  display: flex;
  gap: 30px;
  font-weight: 200;
  font-family: "Manrope";
}
.topicos a {
  text-decoration: none;
  color: #ffefcc;
  padding: 8px 16px;
}
.topicos a.ativo {
  color: #af8d11;
  border-bottom: 3px solid #af8d11;
  padding-bottom: 5px;
}

.usuario {
  background-color: #e9c349;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  margin-left: 45%;
}
/* INICIO DO CORPO*/
.corpo1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  background-color: #f2f1f0;
}
.titulo-corpo1 {
  display: flex;
  font-family: "Manrope";
  height: 20%;
  margin-left: 2%;
  align-items: flex-end;
  color: #856a0a;
  font-size: small;
  font-weight: bold;
}
.subtitulo-corpo1 {
  display: flex;
  height: 50%;
  width: 50%;
  flex-direction: row;
  margin-left: 2%;
  align-items: center;
  color: #00174a;
  font-size: 4em;
  font-weight: bold;
  font-family: "Noto Serif";
}

.texto-corpo1 {
  font-family: "Manrope";
  margin-left: 2%;
  height: 30%;
  width: 40%;
  color: rgb(93, 88, 88);
}

.corpo2 {
  background-color:  #f2f1f0;
  height: 100vh;
}
.foto-fileira1 {
  display: flex;
  justify-content: space-around;
  height: 50%;
}
.jabuti-foto1 { /*DEFINIÇÃO DO TAMANHO DA IMAGEM DO JABUTI*/
  position: relative;
  width: 30%;
  height: 100%;
}
.jabuti-foto1 img{
 width: 100%; /* Ocupa toda a largura do pai */
  height: 100%;
}

.texto-foto1 {
  position: absolute;
  top: 75%; /* Move o topo para o meio vertical do pai */
  left: 6%;
  width: 30%;
  height: 20%;
}
.classe-foto1 {
  display: flex;
  background-color:#e9c349;
  color: #7b6309;
  font-family: "Manrope";
  font-size: medium;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 60%;
  height: 30%;
  border-radius: 10px;
}
.epecie-foto1 {
  display: flex;
  color: #ffe088;
  font-family: 'Noto Serif';
  font-size: 2em;
  font-weight: bold;
}
