body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabeçalho {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #00174a;
  gap: 30px;
  padding: 13px 50px;
}

.cabeçalho h1 {
  margin: 0;
}
.titulo {
  color: #ffe088;
}
.topicos {
  display: flex;
  gap: 30px;
  font-weight: 200;
}
.topicos a {
  text-decoration: none;
  color: #ffefcc;
  padding: 8px 16px;
}

.topicos a.ativo {
  color: #af8d11;
  border-bottom: 3px solid #af8d11;
  padding-bottom: 5px;
}

.usuario {
  background-color: #e9c349;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  margin-left: 45%;
}

/*          fontes escolhidas                 */
.agbalumo-regular {
  /*Fonte TITULO*/
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20pt;
}

.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: x-small;
}
.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 200;
}
.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-size: 3em;
  font-weight: bold;
}

/*        começo do corpo do site              */
.corpo1 {
  display: flex;
  background-color: #0b0761;
  height: 690px;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

.box1-corpo {
  width: 15%;
  display: flex;
  margin-top: 6%;
  margin-left: 6%;
  flex-direction: column;
}

.f1 {
  display: flex;
  border-radius: 20px;
  width: 60%;
  color: #735c00;
  background-color: #e9c349;
  justify-content: center;
  padding: 5px;
}

.f2 {
  display: flex;
  color: aliceblue;
  font-size: 3em;
}
.f2 h2 {
  margin: 0%;
  margin-bottom: 8%;
  margin-top: 5%;
}

.f3 {
  font-family: "Manrope";
  color: #ffefd5;
  width: 25em;
}

.historia {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  gap: 15px;
  font-family: "Manrope";
}

.historia a {
  text-decoration: none;
}
.historia a:nth-child(1) {
  background-color: #e9c349;
  padding: 10px 60px;
  color: #0a0565;
}
.historia a:nth-child(2) {
  padding: 10px 60px;
  border-bottom: 3px solid #e9c349;
  color: #ffefd5;
}

.slide {
  
  display: flex;
  height: 100%;
  width: 60%;
  align-items: center;
}

.slide img {
  display: flex;
  width: 80%;
}
#esquerda {
  width: 10vh;
  height: 100%;
  border: none;
  background-color: #170354;
}

/*    COMEÇO CORPO 2      */
.corpo2 {
  background-color: #f2f1f0;
  height: 120vh;
}
.box1-corpo2 {
  display: flex;
  align-items: flex-start; /*Qual a diferença de flex-start pra start*/
  justify-content: space-between;
  margin-bottom: 7%;
  margin-left: 6%;
  margin-right: 6%;
}

.p1 {
  margin-top: 9%;
  font-family: "Noto Serif";
  font-size: 45px;
}
.p1 span:nth-child(1) {
  font-weight: bold;
  color: #010321;
}
.p1 span:nth-child(3) {
  font-weight: bold;
  font-style: italic;
  color: #a5860b;
}

.traco {
  display: flex;
  width: 37%;
  padding: 0;
  color: rgb(93, 88, 88);
}
.traco span {
  margin-top: 27%;
  font-family: "Manrope";
  padding: 10px 20px;
  border-left: 3px solid #a5860b;
}

/*        part2 do corpo     */
.box2-corpo2 {
  display: flex;
  justify-content: space-between;
  margin-left: 6%;
  margin-right: 6%;
}
.imgdt {
  position: relative;
  width: 67%;
  height: auto;
}
.imgdt img {
  width: 100%; /* Ocupa toda a largura do pai */
  height: auto; /* Mantém a proporção original */
}
.txt {
  position: absolute;
  top: 15%; /* Move o topo para o meio vertical do pai */
  left: 6%;
}
.minit {
  display: flex;
  color: #af8d11;
  font-family: "Manrope";
  font-size: x-small;
}
.minit span {
  margin-bottom: 20px;
}
.grandt {
  color: #f2f1f0;
  font-family: "Noto Serif";
  font-size: 2em;
}
.dt {
  color: #ffefcc;
  font-family: "Manrope";
  font-size: medium;
  width: 55%;
}

.caixa {
  display: flex;
  background-color: #f7e5bd;
  width: 30%;
  border: 3px solid #a5860b;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titulo-caixa {
  display: flex;
  font-family: "Noto Serif";
  font-weight: bold;
  font-size: x-large;
  justify-content: center;
  margin-top: 17%;
  color: #010321;
}
.descricao-caixa {
  display: flex;
  font-family: "Manrope";
  margin-top: 10%;
  width: 60%;
  margin-bottom: 30%;
  color: rgb(93, 88, 88);
}

.link-caixa {
  display: flex;
  width: 60%;
}
.link-caixa a {
  text-decoration: none;
  font-size: small;
}
.corpo3 {
  display: flex;
  background-color: #0a0565;
  height: 70vh;
  align-items: center;
}
.box1-corpo3 {
  height: 60vh;
  width: 100%;
  justify-content: space-between;

}

.titulo-corpo3 {
  display: flex;
  margin-top: 5%;
  color: #f2f1f0;
  justify-content: center;
  width: auto;
}
.titulo-corpo3 span {
  border-bottom: 3px solid #a5860b;
}

.caixa01 {
  display: flex;
  align-items: center;
  flex-direction: column;
   padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2A4386;
  width: 25%;
  gap: 15px;
  border: 3px solid #FFE088;
}
.numero-caixa01 {
  font-family: "Noto Serif";
  font-style: italic;
  color: #ffe088;
  font-size: 2em;
}
.titulo-caixa01 {
  font-family: "Noto Serif";
  font-size: 1em;
  font-weight: bold;
  color: #FFEFCC;
}
.descricao-caixa01 {
  font-family: "Manrope";
  font-size: 15px;
  color:  #f2f1f0;
  width: 90%;
}

.caixa02 {
   display: flex;
  align-items: center;
  flex-direction: column;
   padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2A4386;
  width: 25%;
  gap: 15px;
  border: 3px solid #FFE088;
}
.numero-caixa02 {
  font-family: "Noto Serif";
  font-style: italic;
  color: #ffe088;
  font-size: 2em;
}
.titulo-caixa02 {
  font-family: "Noto Serif";
  font-size: 1em;
  font-weight: bold;
 color: #FFEFCC;
}
.descricao-caixa02 {
  font-family: "Manrope";
  font-size: 15px;
  color:  #f2f1f0;
  width: 90%;
}

.caixa03 {
   display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2A4386;
  width: 25%;
  gap: 15px;
  border: 3px solid #FFE088;
}
.numero-caixa03 {
  font-family: "Noto Serif";
  font-style: italic;
  color: #ffe088;
  font-size: 2em;
}
.titulo-caixa03 {
  font-family: "Noto Serif";
  font-size: 1em;
  font-weight: bold;
  color: #FFEFCC;
}
.descricao-caixa03 {
  font-family: "Manrope";
  font-size: 15px;
  color:  #f2f1f0;
  width: 90%;
}
.caixas1a3 {
  display: flex;
  margin-top: 5%;
  justify-content: space-around;
}

.corpo4 {
  display: flex;
  background-color: #00174A;
  border-top: 3px solid #735c00;
  height: 30vh;
  align-items: center;
 justify-content: space-around;
}
.referencia1 {
  display: flex;
  width: 25%;
  flex-direction: column;
  gap: 10px;
}

.titulo-referencia1 {
  font-family: 'Noto Serif';
  color: #E9C349;
  font-size: 1.4em;
}
.descricao-referencia1 {  
  font-family: 'Manrope';
  color: #bbb9b9;
}

.referencia2 {
  display: flex;
  width: 25%;
  flex-direction: column;
  gap: 15px;
}
.titulo-referencia2 {
  font-family: 'Noto Serif';
  color: #f2f1f0;
  font-size: 1.4em;
}

.topicos-refencia2 {
  font-family: 'Manrope';
}
.topicos-refencia2 a{
  text-decoration: none;
  color:#bbb9b9;
  padding: 8px 16px;
}